@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #5edfff;
    --color-secondary: #b9e7e7;
    /* ... */
    --color-theme1: #284494;
    --color-theme2: #205ca9;
    --color-theme3: #1b69b4;
    --color-theme4: #137dc5;
    --color-theme5: #0b94d8;
    --color-theme6: #02a6e8;
    --color-theme7: #9ddff8;
    --color-theme8: #ef4136;
    --color-theme9: #f25738;
    --color-theme10: #f36539;
    --color-theme11: #f6833c;
    --color-theme12: #f7923e;
    --color-theme13: #faa33f;
    --color-theme14: #fee6c3;

    --primary-txt: 240 5.9% 10%;
  }
}


.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0.75rem; /* Tailwind rounded-xl karşılığı */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.carousel-track {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-track img {
  flex-shrink: 0;
  width: 100%;
  object-fit: contain;
  max-height: 700px;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 9999px;
  padding: 0.25rem 0.75rem;
  font-size: 1.5rem;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.carousel-prev:hover,
.carousel-next:hover {
  opacity: 1;
}

.carousel-prev {
  left: 0.5rem;
}

.carousel-next {
  right: 0.5rem;
}